/* Custom Fonts */
@font-face {
  font-family: 'Entirely';
  src: url('./Entirely.ttf') format('truetype'),
       url('/Entirely.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
